.review-item-box{
  padding:10px;
  background-color: white;
  text-align: center;
}
.review-toggle{
  display:inline-block;
 height:32px;
 width:32px;  background:url("/assets/plus.png");

}
.review-toggle.expanded{
 background:url("/assets/minus.png");
}

#product_view_gallery img {
    border: 2px solid white;
}

/*Change the colour*/
#product_view_gallery .active img {
    border: 2px solid #333 !important;
}


.tool-tip {
  /*display: inline-block;*/
}

.tool-tip [disabled] {
  pointer-events: none;
}

ul.tree:first-letter, ul.tree:first-letter, ul:first-letter  {
    text-transform: uppercase;
}

ul.tree li:first-letter{
  text-transform: uppercase;

}

ul.tree, ul.tree ul {
  list-style-type: none;
  background: url('../assets/vline.png') repeat-y;
  margin: 0;
  padding: 0;
}

ul.tree ul {
  margin-left: 10px;
}

ul.tree li {
  margin: 0;
  padding: 0 12px;
  line-height: 20px;
  background: url('../assets/node.png') no-repeat;
  color: #E05050;
  font-weight: bold;
}

ul.tree li.last {
  background: #fff url('../assets/lastnode.png') no-repeat;
}

ul.tree li:last-child {
  background: #fff url('../assets/lastnode.png') no-repeat;
}
